
html {
	background: -webkit-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
  	background:    -moz-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* FF3.6+ */
  	background:     -ms-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* IE10 */
  	background:      -o-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Opera 11.10+ */
  	background:         linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* W3C */
}

#square, #circle {
	background-color: white;
	margin:auto;
	margin-top:50px;
}

#square, #circle {
	width:200px;
	height:200px;
}

#circle {
	border-radius:100%;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 175px solid white;
	margin:auto;
	margin-top:50px;
}

#pacman {
  width: 0px;
  height: 0px;
  margin:auto;
  margin-top:50px;
  margin-bottom:50px;
  border-right: 100px solid transparent;
  border-top: 100px solid white;
  border-left: 100px solid white;
  border-bottom: 100px solid white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}